* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #000;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/*****clearfix*****/
.clear-fix {
  zoom: 1;
}
.clear-fix:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

/*****HEADER*****/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.7)),
    url(img/header-img1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  font-size: 500%;
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}
h2 {
  font-size: 200%;
  color: #fff;
  font-weight: 400;
}
.header-box-text {
  margin-bottom: 100px;
}
/* ****BUTTON************ */
.btn,
input[type=submit] {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 200px;
  display: inline-block;
}
.btn-full,
input[type=submit] {
  background-color: #ff69b4;
  color: #fff;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover {
  background-color: #e65fa2;
}
.btn-ghost {
  border: 2px solid #ff69b4;
  color: #ff69b4;
}
.btn-ghost:hover,
.btn-ghost:active {
  background-color: #e65fa2;
  color: #fff;
}
/*****NAVIGATION SECTION*****/
.main-nav {
  list-style: none;
  float: right;
  margin-top: 20px;
}
.main-nav li {
  display: inline-block;
  text-transform: uppercase;
  margin: 40px;
}
.main-nav li a {
  text-decoration: none;
  color: #fff;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ff69b4;
}
.logo {
  height: 120px;

  float: left;
}
/*****ABOUT SECTION*****/
.laptop-img {
  width: 80%;
}
.about-heading {
  color: #000;
  font-size: 250%;
  font-weight: 500;
  margin-bottom: 50px;
}
.about-para {
  color: #555;
  margin-bottom: 50px;
}
.about-box {
  margin-top: 150px;
}
.about-box:first-child {
  text-align: left;
}
.about-box:last-child {
  text-align: right;
}
.about-section {
  padding-bottom: 20px;
}
/*****WORK SECTION*****/
.section-heading {
  font-size: 250%;
  color: #000;
  margin-bottom: 20px;
  margin-top: 150px;
}
.section-sub {
  font-size: 150%;
  color: #555;
  font-weight: 350;
  margin-bottom: 30px;
  line-height: 1.5;
}
.section-sub::after {
  width: 100px;
  height: 2px;
  display: block;
  background-color: #e65fa2;
  margin: 30px auto 0px auto;
  content: " ";
}
.work-section {
  text-align: center;
  background-color: #f4f4f4;
}
.work-portfolio {
  margin-top: 10px;
  list-style: none;
  width: 100%;
}
.work-portfolio li {
  display: block;
  width: 25%;
  float: left;
}
.portfolio-img {
  background-color: #000;
  overflow: hidden;
}
.portfolio-img img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.portfolio-img img:hover {
  transform: scale(1);
  opacity: 1;
}
.work-para {
  color: #fff;
}
/****SERVICE SECTION*****/
.service-section {
  text-align: center;
  background-color: #f4f4f4;
}
.service-box {
  padding: 1% 3%;
}
.big-icon {
  font-size: 250%;
  color: #6920b0;
  display: block;
  margin-bottom: 30px;
}
.service-heading {
  font-size: 150%;
  margin: 30px;
  font-weight: 400;
}
.service-para {
  color: #555;
  font-size: 90%;
  margin-bottom: 20px;
}
.service-link {
  color: #e65fa2;
  text-decoration: none;
}
/*****PARTNER SECTION****/
.partner-section {
  text-align: center;
}
.partner-logo {
  width: 65%;
}
/*****TEATIMONIAL SECTION****/
.testimonial-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8)),
    url(img/testimonial-background.jpg);
  color: #fff;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}
.testimonial-heading {
  font-size: 250%;
  margin-top: 150px;
  margin-bottom: 20px;
}
.testimonial-box {
  text-align: left;
  margin-bottom: 50px;
}
blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}
blockquote:before {
  content: "\201C";
  display: block;
  font-size: 500%;
  position: absolute;
  left: -5px;
  top: -5px;
}
cite {
  display: block;
  margin-top: 25px;
  font-size: 90%;
}
cite img {
  border-radius: 50%;
  height: 20%;
  vertical-align: middle;
  margin-right: 10px;
}
/*******PACKAGE SECTION******/
.package-section {
  text-align: center;
  background-color: #f4f4f4;
}
.packages-heading {
  color: #000;
  font-size: 250%;
  margin-bottom: 70px;
  margin-top: 150px;
}
.package-box {
  background-color: #fff;
  width: 90%;
  box-shadow: 0 3px 2px #efefef;
  text-align: left;
}
.package-heading {
  font-size: 150%;
  color: #555;
  font-weight: 400;
  margin-bottom: 50px;
}
.package-price {
  font-size: 300%;
  color: #ff69b4;
  margin-bottom: 15px;
}
.package-price span {
  font-size: 35%;
  font-weight: 500;
}
.package-para {
  font-size: 80%;
  color: #555;
  margin-bottom: 15px;
}
.package-box ul {
  list-style: none;
}
.small-icon {
  color: #ff69b4;
  font-size: 120%;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  width: 30px;
}
.package-box ul li {
  padding: 5px 0;
  color: #555;
}
.package-box div {
  padding: 15px;
  border: 1px solid #efefef;
}
.package-box div:last-child {
  border: 0;
  text-align: center;
  padding-left: 0;
}
.package-box div:first-child {
  background-color: #fcfcfc;
}
/******Contact Section****/
.contact-section{
  text-align: center;
}
.contact-heading{
  color: #000;
  margin-top: 150px;
  margin-bottom: 50px;
}
.contact-form{
  text-align: left;
  width: 60%;
  margin: 0 auto;
  color: #555;
}
input[type=text],
input[type=email],
textarea{
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;

}
input[type=submit]{
  border: 0;
}
textarea{
  height: 100px;

}
input[type=checkbox]{
  margin: 10px 5px 10px 0;
}
*:focus{
  outline: none;
}
/*******FOOTER*******/
footer{
  background-color: #333;
  padding: 50px;
  font-size: 80%;
  color: #888;
}
.footer-nav{
  float: left;
}
.footer-nav li{
  list-style: none;
  display: inline-block;
  margin-right: 25px;
}
.footer-nav li a:link,
.footer-nav li a:visited{
  text-decoration: none;
  color: #888;
  transition: color 0.2s;
}
.social-links{
  float: right;
}
.social-links li{
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.social-links li a:link,
.social-links li a:visited{
  color: #888;
  text-decoration: none;
  font-size: 160%;
  transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
  color: #fff;

}
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram{
  transition: color 0.25s;
}
.fa-facebook-f:hover{
color:  #1877f2;
}
.fa-twitter:hover{
  color: #1da1f2;
}
.fa-google-plus-g:hover{
  color:  	#dd4b39;
}
.fa-instagram:hover{
  color:#c32aa3 ;
}
  footer p{
    text-align: center;
    margin-top: 35px;
    line-height: 1.5;
  }
  